<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.slpolicemobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLPoliceMobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".noConnection"
            android:exported="false" />
        <activity
            android:name=".admin_law"
            android:exported="false" />
        <activity
            android:name=".spec_contacts"
            android:exported="false" />
        <activity
            android:name=".admin_article"
            android:exported="false" />
        <activity
            android:name=".article"
            android:exported="false" />
        <activity
            android:name=".admin_settings"
            android:exported="false" />
        <activity
            android:name=".user"
            android:exported="false" />
        <activity
            android:name=".admin_contact"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".laws"
            android:exported="false" />
        <activity
            android:name=".police_ranks"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>